useDynLib(ARIbrain, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

export(ARI)
export(ARIcluster)
export(cluster_threshold)
import(hommel)
import(plyr)
import(RNifti)
importFrom(fastcluster,hclust)
importFrom(stats,cutree)
importFrom(stats,dist)
importFrom(stats,qnorm)
