useDynLib(ARIbrain, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

import(hommel)
import(plyr)
import(RNifti)
import(methods)
importFrom(fastcluster,hclust)
importFrom(stats, cutree)
importFrom(stats, dist)
importFrom(stats, qnorm)

exportClasses(ARICluster)
exportClasses(ARIBrainCluster)
exportClasses(TDPClusters)
exportClasses(TDPBrainClusters)
exportMethods(summary)
exportMethods(show)
exportMethods(length)
exportMethods("[")
exportMethods("[[")
export(ARICluster)
export(ARIBrainCluster)
export(TDPQuery)
export(findLMs)
export(TDPChange)
export(writeClusters)

export(ARI)
export(cluster_threshold)
