useDynLib(ARIbrain, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

import(hommel)
import(plyr)
import(RNifti)
import(methods)
importFrom(fastcluster,hclust)
importFrom(stats, cutree)
importFrom(stats, dist)
importFrom(stats, qnorm)

exportClasses(ARIcluster)
exportMethods(show)
export(ARIcluster)
export(TDPquery)

export(ARI)
export(cluster_threshold)
